<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sad to see you go <%= @user.firstname %>!</h1>
    <p>You have had your account deleted.</p>
    <p>To rejoin just follow this link: <%= @url %>.</p>
  </body>
</html>